.Detail {
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 5px 2px white;
  margin: 10px;
}
.Detail img {
  width: fit-content;
  max-width: 33vw;
}
.Detail p {
  font-size: 1.3rem;
  margin: 5px 0px;
}
.Detail button {
  width: fit-content;
  margin: 20px 0px;
}
#description {
  padding: 10px;
  border: 1px solid white;
  width: 300px;
  font-size: 0.9rem;
}
