.App {
  background-color: #303642;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: 1rem;
}

button,
input,
select,
textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  margin: 5px 0px;
  cursor: pointer;
}
button:disabled {
  cursor: unset;
  background-color: lightgray;
}

button {
  border: none;
  background-color: white;
}

input {
  border: 1px solid white;
  background-color: #282c34;
  color: white;
}
label {
  display: inline-block;
  margin: 0 10px;
}
label input[type='radio'] {
  padding: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.greenButton {
  background-color: seagreen;
  color: white;
}
