#signOut {
  background-color: maroon;
  color: white;
  width: fit-content;
  display: inline-block;
}
#signUp {
  background-color: forestgreen;
  color: white;
  width: fit-content;
  display: inline-block;
  margin-left: 20px;
}
#home {
  background-color: white;
  color: black;
  width: fit-content;
  /* display: inline-block; */
  margin-left: 20px;
  float: right;
}
#signIn {
  background-color: white;
  color: black;
  width: fit-content;
  display: inline-block;
}
#user {
  background-color: white;
  width: fit-content;
  min-width: 100px;
  float: right;
  margin-left: 20px;
}
#new {
  background-color: seagreen;
  width: fit-content;
  color: white;
  min-width: 100px;
  float: right;
  margin-left: 20px;
}
