#signOut {
  background-color: maroon;
  color: white;
  width: fit-content;
  display: inline-block;
}
#my-ads {
  background-color: white;
  width: fit-content;
  float: right;
  margin-left: 10px;
}
#user {
  background-color: white;
  width: fit-content;
  float: right;
}
